* {padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}

aside {
    width: auto;
    height: 100vh;
    background-color: rgb(156, 82, 82);
    /* Esto lo mantendra en su sitio */
    position: fixed;
    top: 0;
    left: 0;
}

.contenido {
    width: auto;
    height: 1000vh;
    background-color: blanchedalmond;
    margin: 15px;
    /* Esto equilibria lo del aside */
    position: relative;
    top: 0;
}

ul {
    list-style: none;
}

.lista { 
    padding: 10px;
    margin-top: 40%;
}

li:hover {
    background-color: beige;
}

.recetas {
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecera{
    background-color:  rgb(156, 82, 82);
    height:auto;
    width: 100%;
}

.titulo{
    width: auto;
    height: auto;
    margin-left: 40%;
    
}
.container{
    width: 80%.4;
    height: auto;
    margin-left: 12.8%;
    background-color: rgb(17, 16, 16);
    
    
}
.introduccion{  
    background-color: rgb(189, 112, 112);
    margin-top: 0px;
    margin-left: 0;
    height: 155px;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(189, 112, 112);
    text-align: center;
  
}
.texto-recetas{
    background-color: rgb(189, 112, 112);
    margin-top: 0px;
    margin-left: 0;
    height: 155px;
    min-width: 651px;
    border: 1px black solid;
    text-align: center;
    font-size: larger;
}
.texto-recetas-h2{
    font-family: 'Times New Roman', Times, serif;
}
.texto-recetas-queEs{
    padding: 5px;
}


